body {
	background:url('white.png');
	background-size:cover;
	margin:0;
	padding:0;
	font-family: 'Titillium Web', sans-serif;
}
.nav {
	background:#222;
	height:40px;
	color:#fafafa;
	position:fixed;
	z-index:1000;
	width:100%;
	top:0;
}
.mark a{
	float:left;
	line-height:40px;
	margin:0 0 0 8%;
	font-size:24px;
	font-weight:700;
	color:#fafafa;
	text-decoration:none;
}
.mark span{
	color:#629f15;
}
.inner-nav {
	float:right;
	margin:0 10% 0 0;
}
.inner-nav a {
	text-align:center;
	margin-right:20px;
	color:#fafafa;
	text-decoration:none;
	line-height:40px;
	font-weight:700;
	font-size:16px;
}
.icon {
	font-size:16px;
	line-height:40px;
	margin-right:5px;
	color:#629f15;
	
}
.flaticon-square234 {
	font-size:14px;
}
.inner-nav a:hover, .mark a:hover {
	border-bottom:2px solid #629f15;
}
.header{
	margin-top:40px;
	text-align:center;
	height:300px;
	font-size:36px;
	background:url('model.jpg') no-repeat no-repeat center;
	background-size:cover;
	text-transform:capitalize;
	font-weight:700;
	letter-spacing:1px;
}
.tagline{
	padding-top:100px;
	line-height:50px;
	color:#fafafa;
}
.example-heading {
	height:120px;
	line-height:120px;
	font-size:36px;
	font-weight:700;
	color:#333;	
	margin-left:20px;
}
.copy-icon img{
	float:right;
	width:100px;
	height:100px;
	margin:10px 50px 0 0;
}
.code {
	margin:40px auto auto auto;
	background:#fff;
	border:1px solid #ddd;
	width:60%;
}
.image{
	text-align:center;
	margin-top:10%;
}
.room {
	height:50px;
}
.heading {
	font-size:36px;
	font-weight:400;
	margin:0 0 0 20px;
	clear:both;
}
.cover{
	float:left;
	width:300px;
	height:250px;
	margin:20px 0 20px 20px;
	background:#333;
}
.ex-label{
	z-index:100;
	width:300px;
	height:250px;
	text-align:center;
	font-size:24px;
	font-weight:700;
	line-height:250px;
	color:#fafafa;
	position:absolute;
	background:#111;
	opacity:0;
	transition:all 0.5s ease;
	text-transform:uppercase;
	letter-spacing:1px;
}
.ex-label:hover{
	opacity:0.8;
}
.cover img{
	max-width:300px;
	max-height:250px;
}
.social-icons{
	width:250px;
	margin:auto;
}
.footer {
	height:100px;
	background:#222;
	margin-top:40px;
	clear:both;
	width:100%;
	bottom:0px;
	top:100%;
}
.footer-icon{
	font-size:48px;
	line-height:100px;
	color:#fafafa;
}
.social-icons a{
	text-decoration:none;
	transition:all 0.5s ease;	
}
.social-icons a:hover{
	color:#629f15;
}
span .entity, span .label { 
	height:0;
}
@media screen and (max-width: 668px) {
	.nav {
		height:80px;
	}
	.mark a{
		float:none;
		display:block;
		clear:both;
		width:110px;
		margin:auto;	
	}	
	.inner-nav{
		clear:both;
		float:none;
		width:350px;
		margin:auto;
	}
	.code {
		width:90%;
	}
	.room {
		height:90px;
	} 	
}
